<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whlg.hospital.mapper.HospitalDepartmentMapper">

    <resultMap id="BaseResultMap" type="com.whlg.hospital.entity.HospitalDepartment">
        <id column="id" property="id"/>
        <result column="hospital_id" property="hospitalId"/>
        <result column="department_id" property="departmentId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, hospital_id, department_id, create_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from t_hospital_department where id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_hospital_department order by id desc
    </select>

    <insert id="insert" parameterType="com.whlg.hospital.entity.HospitalDepartment" useGeneratedKeys="true" keyProperty="id">
        insert into t_hospital_department (
            hospital_id, department_id, create_time
        ) values (
            #{hospitalId}, #{departmentId}, #{createTime}
        )
    </insert>

    <update id="updateById">
        update t_hospital_department
        set hospital_id = #{et.hospitalId},
            department_id = #{et.departmentId},
            create_time = #{et.createTime}
        where id = #{et.id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_hospital_department where id = #{id}
    </delete>

</mapper>